{
  "arrowParens": "always",
  "semi": false,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 90,
  "tabWidth": 2,
  "endOfLine": "auto",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true
}